.venv
.vscode
notes.t.vscode
__pycache__/
*.pyc
.idea/
db.sqlite3
.DS_Store
.pytest_cache
htmlcov/
.coverage
.coveragerc
.tox
venv
staticfiles
.editorconfig
notes.txt
venv/
.env
**/__pycache__/**
media/
logs/**
coverage.xml
migrations/
otp_sample.png
authy/sample.py
.TODO
